# Projeto Final

Utilizando as features selecionadas anteriormente.
O notebook visa definir uma métrica para, a partir dela, continuar evoluindo o sistema de recomendaçoes

## Seleção e tratamento dos dados

In [28]:
import numpy as np
import pandas as pd
from sklearn import preprocessing

In [29]:
estaticos_market = pd.read_csv('workspace/data/estaticos_market.csv')
estaticos_market.head()

,Unnamed: 0,id,fl_matriz,de_natureza_juridica,sg_uf,natureza_juridica_macro,de_ramo,setor,idade_empresa_anos,idade_emp_cat,...,media_meses_servicos,max_meses_servicos,min_meses_servicos,qt_funcionarios,qt_funcionarios_12meses,qt_funcionarios_24meses,tx_crescimento_12meses,tx_crescimento_24meses,tx_rotatividade,qt_filiais
0,0,a6984c3ae395090e3bee8ad63c3758b110de096d5d8195...,True,SOCIEDADE EMPRESARIA LIMITADA,RN,ENTIDADES EMPRESARIAIS,INDUSTRIA DA CONSTRUCAO,CONSTRUÇÃO CIVIL,14.457534,10 a 15,...,43.738462,93.266667,19.166667,26.0,26.0,27.0,0.0,-3.703704,0.0,0
1,1,6178f41ade1365e44bc2c46654c2c8c0eaae27dcb476c4...,True,EMPRESARIO INDIVIDUAL,PI,OUTROS,SERVICOS DE ALOJAMENTO/ALIMENTACAO,SERVIÇO,1.463014,1 a 5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2,2,4a7e5069a397f12fdd7fd57111d6dc5d3ba558958efc02...,True,EMPRESARIO INDIVIDUAL,AM,OUTROS,"TRANSPORTE, ARMAZENAGEM E CORREIO",SERVIÇO,7.093151,5 a 10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3,3,3348900fe63216a439d2e5238c79ddd46ede454df7b9d8...,True,EMPRESARIO INDIVIDUAL,AM,OUTROS,SERVICOS DIVERSOS,SERVIÇO,6.512329,5 a 10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4,4,1f9bcabc9d3173c1fe769899e4fac14b053037b953a1e4...,True,EMPRESARIO INDIVIDUAL,RN,OUTROS,"SERVICOS PROFISSIONAIS, TECNICOS E CIENTIFICOS",SERVIÇO,3.200000,1 a 5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [30]:
data = estaticos_market[[
    'id', 
    'de_natureza_juridica', 
    'sg_uf', 
    'natureza_juridica_macro',
    'de_ramo',
    'setor',
    'idade_empresa_anos',
    'idade_emp_cat',
    'fl_mei',
    'dt_situacao',
    'fl_email',
    'fl_telefone',
    'fl_rm',
    'nm_divisao',
    'nm_segmento',
    'fl_optante_simples',
    'fl_optante_simei',
    'sg_uf_matriz',
    'de_saude_tributaria',
    'de_saude_rescencia',
    'nu_meses_rescencia',
    'de_nivel_atividade',
    'nm_meso_regiao',
    'nm_micro_regiao',
    'fl_passivel_iss',
    'de_faixa_faturamento_estimado',
    'de_faixa_faturamento_estimado_grupo'
]]

In [31]:
def print_null_cols(df):
    for col in df.columns:
        nulls_value = df[col].isna().sum()
        percentage = 100*(nulls_value / df.shape[0])
        message = "Column {} has {} nulls / {}% ".format(col, nulls_value, percentage)
        print(message)
        
print_null_cols(data)

Column id has 0 nulls / 0.0%
Column de_natureza_juridica has 0 nulls / 0.0%
Column sg_uf has 0 nulls / 0.0%
Column natureza_juridica_macro has 0 nulls / 0.0%
Column de_ramo has 0 nulls / 0.0%
Column setor has 1927 nulls / 0.4168307022742906%
Column idade_empresa_anos has 0 nulls / 0.0%
Column idade_emp_cat has 0 nulls / 0.0%
Column fl_mei has 0 nulls / 0.0%
Column dt_situacao has 6 nulls / 0.0012978641482333905%
Column fl_email has 0 nulls / 0.0%
Column fl_telefone has 0 nulls / 0.0%
Column fl_rm has 0 nulls / 0.0%
Column nm_divisao has 1927 nulls / 0.4168307022742906%
Column nm_segmento has 1927 nulls / 0.4168307022742906%
Column fl_optante_simples has 82713 nulls / 17.891706215471405%
Column fl_optante_simei has 82713 nulls / 17.891706215471405%
Column sg_uf_matriz has 1939 nulls / 0.41942643057075735%
Column de_saude_tributaria has 14851 nulls / 3.2124300775690138%
Column de_saude_rescencia has 14851 nulls / 3.2124300775690138%
Column nu_meses_rescencia has 45276 nulls / 9.793682862569165%
Column de_nivel_atividade has 11168 nulls / 2.4157578012450847%
Column nm_meso_regiao has 58698 nulls / 12.697004962167261%
Column nm_micro_regiao has 58698 nulls / 12.697004962167261%
Column fl_passivel_iss has 1927 nulls / 0.4168307022742906%
Column de_faixa_faturamento_estimado has 27513 nulls / 5.951356051724212%
Column de_faixa_faturamento_estimado_grupo has 27513 nulls / 5.951356051724212%

## Primeira tentativa é preencher com 0 os valores nulos.

tentar modificar esses valores com outras estratégias mais tarde

In [32]:
data.fillna(0, inplace=True)

C:\Anaconda3\lib\site-packages\pandas\core\frame.py:3790: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  downcast=downcast, **kwargs)

In [33]:
#data.columns = 
print_null_cols(data)

Column id has 0 nulls / 0.0%
Column de_natureza_juridica has 0 nulls / 0.0%
Column sg_uf has 0 nulls / 0.0%
Column natureza_juridica_macro has 0 nulls / 0.0%
Column de_ramo has 0 nulls / 0.0%
Column setor has 0 nulls / 0.0%
Column idade_empresa_anos has 0 nulls / 0.0%
Column idade_emp_cat has 0 nulls / 0.0%
Column fl_mei has 0 nulls / 0.0%
Column dt_situacao has 0 nulls / 0.0%
Column fl_email has 0 nulls / 0.0%
Column fl_telefone has 0 nulls / 0.0%
Column fl_rm has 0 nulls / 0.0%
Column nm_divisao has 0 nulls / 0.0%
Column nm_segmento has 0 nulls / 0.0%
Column fl_optante_simples has 0 nulls / 0.0%
Column fl_optante_simei has 0 nulls / 0.0%
Column sg_uf_matriz has 0 nulls / 0.0%
Column de_saude_tributaria has 0 nulls / 0.0%
Column de_saude_rescencia has 0 nulls / 0.0%
Column nu_meses_rescencia has 0 nulls / 0.0%
Column de_nivel_atividade has 0 nulls / 0.0%
Column nm_meso_regiao has 0 nulls / 0.0%
Column nm_micro_regiao has 0 nulls / 0.0%
Column fl_passivel_iss has 0 nulls / 0.0%
Column de_faixa_faturamento_estimado has 0 nulls / 0.0%
Column de_faixa_faturamento_estimado_grupo has 0 nulls / 0.0%

## Tratar corretamente algunas dados

as colunas **de_faixa_faturamento_estimado** e **de_saude_rescencia** possuem o valor **SEM INFORMACAO**, então os valores que foram preenchidos com 0 devem ser modificados

In [34]:
print(data[data.de_faixa_faturamento_estimado == 0].shape)
print(data[data.de_saude_rescencia == 0].shape)

(27513, 27)
(14851, 27)

In [35]:
print(data[data.de_faixa_faturamento_estimado == 'SEM INFORMACAO'].shape)
print(data[data.de_saude_rescencia == 'SEM INFORMACAO'].shape)

(1173, 27)
(30425, 27)

 --> Aplicar modificação

In [36]:
data.loc[data.de_faixa_faturamento_estimado == 0, 'de_faixa_faturamento_estimado'] = 'SEM INFORMACAO'
data.loc[data.de_saude_rescencia == 0, 'de_saude_rescencia'] = 'SEM INFORMACAO'

C:\Anaconda3\lib\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [37]:
print(data[data.de_faixa_faturamento_estimado == 0].shape)
print(data[data.de_saude_rescencia == 0].shape)
print(data[data.de_faixa_faturamento_estimado == 'SEM INFORMACAO'].shape)
print(data[data.de_saude_rescencia == 'SEM INFORMACAO'].shape)

(0, 27)
(0, 27)
(28686, 27)
(45276, 27)

## Categorical variables

In [38]:
#colunas que serão tratadas
features = [ 'de_natureza_juridica', 'sg_uf', 'natureza_juridica_macro',
       'de_ramo', 'setor', 'idade_emp_cat', 'fl_mei',
       'dt_situacao', 'fl_email', 'fl_telefone', 'fl_rm', 'nm_divisao',
       'nm_segmento', 'fl_optante_simples', 'fl_optante_simei', 'sg_uf_matriz',
       'de_saude_tributaria', 'de_saude_rescencia',
       'de_nivel_atividade', 'nm_meso_regiao', 'nm_micro_regiao',
       'fl_passivel_iss', 'de_faixa_faturamento_estimado',
       'de_faixa_faturamento_estimado_grupo']

In [39]:
data_labeled = data.copy()

In [40]:
for col in features:
    encoder = preprocessing.LabelEncoder()
    data_labeled[col] = encoder.fit_transform(data_labeled[col].astype(str))

In [41]:
data_labeled.head()

,id,de_natureza_juridica,sg_uf,natureza_juridica_macro,de_ramo,setor,idade_empresa_anos,idade_emp_cat,fl_mei,dt_situacao,...,sg_uf_matriz,de_saude_tributaria,de_saude_rescencia,nu_meses_rescencia,de_nivel_atividade,nm_meso_regiao,nm_micro_regiao,fl_passivel_iss,de_faixa_faturamento_estimado,de_faixa_faturamento_estimado_grupo
0,a6984c3ae395090e3bee8ad63c3758b110de096d5d8195...,60,4,2,11,3,14.457534,1,0,2710,...,20,5,0,23.0,1,7,49,2,2,3
1,6178f41ade1365e44bc2c46654c2c8c0eaae27dcb476c4...,17,3,5,21,5,1.463014,0,1,6812,...,17,3,1,9.0,2,5,70,2,10,11
2,4a7e5069a397f12fdd7fd57111d6dc5d3ba558958efc02...,17,1,5,32,5,7.093151,3,1,4784,...,3,1,0,26.0,3,3,44,2,1,2
3,3348900fe63216a439d2e5238c79ddd46ede454df7b9d8...,17,1,5,25,5,6.512329,3,0,4995,...,3,1,0,26.0,3,3,44,2,10,11
4,1f9bcabc9d3173c1fe769899e4fac14b053037b953a1e4...,17,4,5,27,5,3.200000,0,0,6184,...,20,5,0,27.0,1,7,49,2,10,11

In [42]:

data_labeled.nunique()

id                                     462298
de_natureza_juridica                       67
sg_uf                                       6
natureza_juridica_macro                     7
de_ramo                                    33
setor                                       6
idade_empresa_anos                      14198
idade_emp_cat                               6
fl_mei                                      2
dt_situacao                              7335
fl_email                                    2
fl_telefone                                 2
fl_rm                                       2
nm_divisao                                 88
nm_segmento                                22
fl_optante_simples                          3
fl_optante_simei                            3
sg_uf_matriz                               28
de_saude_tributaria                         7
de_saude_rescencia                          5
nu_meses_rescencia                         51
de_nivel_atividade                          5
nm_meso_regiao                             20
nm_micro_regiao                            74
fl_passivel_iss                             3
de_faixa_faturamento_estimado              12
de_faixa_faturamento_estimado_grupo        12
dtype: int64

In [43]:
features_ohe = ['de_faixa_faturamento_estimado']


from sklearn.preprocessing import OneHotEncoder
one_hot_encoder = OneHotEncoder(sparse=False, categories= 'auto', drop='first')

data_ohe_selected = pd.DataFrame( one_hot_encoder.fit_transform(data_labeled[features_ohe]))

data_ohe_selected.head()

    0    1    2    3    4    5    6    7    8    9    10
0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
1  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
2  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
3  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
4  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0

In [44]:
data_ohe = data_labeled.copy()
data_ohe = data_ohe.drop(features_ohe, axis=1)

#print(data_labeled.shape)
#print(data_ohe.shape)
#print(data_ohe_selected.shape)

data_ohe = pd.concat([data_ohe, data_ohe_selected], axis=1)

print(data_labeled.shape, data_ohe.shape)

(462298, 27) (462298, 37)

# Scaler

In [45]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import RobustScaler
from sklearn.preprocessing import MaxAbsScaler
from sklearn.preprocessing import Normalizer
from sklearn.preprocessing import StandardScaler

In [46]:
#scaler = RobustScaler()
scaler = StandardScaler()

In [47]:

#data_scaler = data_labeled.copy()
data_scaler = data_ohe.copy()
data_scaler[data_ohe.columns[1:]] = scaler.fit_transform(data_ohe[data_ohe.columns[1:]])

In [48]:
data_scaler.head()

,id,de_natureza_juridica,sg_uf,natureza_juridica_macro,de_ramo,setor,idade_empresa_anos,idade_emp_cat,fl_mei,dt_situacao,...,1,2,3,4,5,6,7,8,9,10
0,a6984c3ae395090e3bee8ad63c3758b110de096d5d8195...,1.841563,0.925065,-1.626774,-0.190962,-0.280863,0.468908,-0.673788,-0.696124,-1.275305,...,6.673316,-0.055995,-0.0234,-0.043447,-0.01019,-0.333314,-0.068355,-0.007642,-1.205541,-0.257208
1,6178f41ade1365e44bc2c46654c2c8c0eaae27dcb476c4...,-0.445031,0.217048,0.640300,0.831845,1.110191,-0.882484,-1.218032,1.436525,1.196407,...,-0.149851,-0.055995,-0.0234,-0.043447,-0.01019,-0.333314,-0.068355,-0.007642,0.829503,-0.257208
2,4a7e5069a397f12fdd7fd57111d6dc5d3ba558958efc02...,-0.445031,-1.198987,0.640300,1.956933,1.110191,-0.296966,0.414699,1.436525,-0.025590,...,-0.149851,-0.055995,-0.0234,-0.043447,-0.01019,-0.333314,-0.068355,-0.007642,-1.205541,-0.257208
3,3348900fe63216a439d2e5238c79ddd46ede454df7b9d8...,-0.445031,-1.198987,0.640300,1.240968,1.110191,-0.357370,0.414699,-0.696124,0.101551,...,-0.149851,-0.055995,-0.0234,-0.043447,-0.01019,-0.333314,-0.068355,-0.007642,0.829503,-0.257208
4,1f9bcabc9d3173c1fe769899e4fac14b053037b953a1e4...,-0.445031,0.925065,0.640300,1.445530,1.110191,-0.701843,-1.218032,-0.696124,0.817998,...,-0.149851,-0.055995,-0.0234,-0.043447,-0.01019,-0.333314,-0.068355,-0.007642,0.829503,-0.257208

# Modelo de predição

In [49]:
from sklearn.metrics.pairwise import cosine_similarity

In [50]:
# Get recommendations
def get_recommendations(target, market, nRecomendations = 1000):
    '''
    Recomendação de acordo com uma amostra
    
    target -- amostras de entrada
    market -- mercado que serão buscadas as amostras similares
    nRecomendations --numero de recomendações para o portifolio
    
    Return:
        Ids
        Scores de similaridades
    '''
    titles = market['id']
    cosine_sim = cosine_similarity(target[data_ohe.columns[1:]], market[data_ohe.columns[1:]])
    cosine_sim = np.sum(cosine_sim, axis=0)
    cosine_sim = np.reshape(cosine_sim, (1,cosine_sim.shape[0]))
    sim_scores = list(enumerate(cosine_sim[0]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    all_scores = np.array(sim_scores[:]) # All cosine distances id x market
    sim_scores = np.array(sim_scores[:nRecomendations]) # Number of recomendations per id
    t = pd.concat([titles.iloc[sim_scores[:,0]].to_frame().reset_index(), pd.DataFrame(sim_scores[:,1])],axis=1 ,ignore_index=False)
    return t

# Métrica

In [51]:

def extractPortfolio(market, portfolio):
    '''
    Retira as amostras do portifolio do mercado
    
    Return:
        Mercado sem portfolio
        Portifolio
    '''
    portfolio_id = portfolio.id
    port = market[market.id.isin( portfolio_id.values)]
    market_new =  market.drop(market[market.id.isin(portfolio_id.values)].index)
    return market_new , port

In [52]:
def check_result(result, test):
    '''
    Verifica quantos ovalores esperados (test) estão na resposta dada pelo modelo (result)
    
    result - resultado do modelo de predição
    test - respostas esperadas
    
    Retorno:
        numeto de amostras de testes no resultado
        razão de amostras de testes no resultado sobre o numero de amostras testes
    '''
    r = result.id.isin(test.id)
    return r.sum() , r.sum()/test.shape[0]

### Ideia

seeds = [ 123, 345, 321, 1324, 45, 9, 86] #seeds fixas para ter sempre a mesma métrica

for s in seeds:
    fora , dentro , _, _ = train_test_split(port, port, test_size=0.33, random_state=s)

    m, p = extractPortfolio(market, dentro)

    result = get_recommendations(m, p) # get recomendation com portfolio e mercado separados

    overlap_rec = check(result, fora) # verifica se as amostras  que n foram usadas, foram listadas no resultado
    metrics.append(overlap_rec)


metric = metrics.mean() #gerar isso para todos os portfolios

In [53]:
from sklearn.model_selection import train_test_split

def calc_metric(portfolio, market):
    seeds = [ 123, 345, 321, 1324, 45, 9, 86 ]
    
    metrics = []
    ratios = []
    for s in seeds:
        print("teste", s)
        
        train , test , _, _ = train_test_split(portfolio, portfolio, test_size=0.30, random_state=s)
       
        new_market, port = extractPortfolio(market, train)

        #result = get_recommendations(port, new_market, round(new_market.shape[0]/2)) # test, em quantidade, a metade do mercado todo
        result = get_recommendations(port, new_market, port.shape[0]) # test, em quantidade, mesmo numero de amostras do portifolio
        
        #checa qnts de test estão no result
        overlap, ratio = check_result(result, test) 
        print('results:', overlap, ratio)
        metrics.append(overlap)
        ratios.append(ratio)
    
    return sum(metrics)/len(metrics),  sum(ratios)/len(ratios)

## TESTE

In [54]:
port1 = pd.read_csv('workspace/data/estaticos_portfolio1.csv')
port2 = pd.read_csv('workspace/data/estaticos_portfolio2.csv')
port3 = pd.read_csv('workspace/data/estaticos_portfolio3.csv')

In [55]:
print('market', data_scaler.shape)
print('port1',port1.shape)
print('port2',port2.shape)
print('port3',port3.shape)

market (462298, 37)
port1 (555, 182)
port2 (566, 2)
port3 (265, 2)

In [56]:
a, b = calc_metric(port1, data_scaler)
print('metric', a, b)

teste 123
results: 0 0.0
teste 345
results: 0 0.0
teste 321
results: 0 0.0
teste 1324
results: 0 0.0
teste 45
results: 0 0.0
teste 9
results: 0 0.0
teste 86
results: 0 0.0
metric 0.0 0.0

In [57]:
a, b = calc_metric(port2, data_scaler)
print('metric', a, b)

teste 123
results: 54 0.3176470588235294
teste 345
results: 53 0.31176470588235294
teste 321
results: 41 0.2411764705882353
teste 1324
results: 35 0.20588235294117646
teste 45
results: 47 0.27647058823529413
teste 9
results: 51 0.3
teste 86
results: 44 0.25882352941176473
metric 46.42857142857143 0.273109243697479

In [58]:
a, b = calc_metric(port3, data_scaler)
print('metric', a, b)

teste 123
results: 21 0.2625
teste 345
results: 24 0.3
teste 321
results: 22 0.275
teste 1324
results: 18 0.225
teste 45
results: 26 0.325
teste 9
results: 22 0.275
teste 86
results: 19 0.2375
metric 21.714285714285715 0.27142857142857146

In [1]:
from IPython.display import IFrame
IFrame("results.pdf", width=1000, height=500)

# Conclusão

- A métrica é influenciada diretamente pelo número de recomendações que é retornado;

- E proporção da divisão entre treinamento/teste se provou impactar diretamente os valores das métricas em testes realizados durante o processo;

- Uma melhora que pode ser realizada é adicionar a informação de quão antes as amostras esperadas estão do topo. Com essa estratégia talvez seja possível tornar a métrica indenpendente da quantidade de recomendações. Outra mudança na métrica que pode ser testada é determinar um threshold para determinar quais empresas serão recomendadas, dessa maneira o número de *leads* será varável;

- Algumas informações como a quantidade de recomendações e como o "cliente" entende ser a melhor métrica para o problema atrapalhou um pouco;

- A pouca quantidade de portifolios para serem testados também foi um problema;

- No mundo real poderíamos utilizar testes A/B para e o feedback dos clientes para saber se a nova solução é melhor, já que se trata de um problema não supervisionado;